<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
</head>
<body>

    <a href="/views/admin.html">Go back to admin page</a>

    <H1> Update Information? </H1>
    <form id="form" method="post" action="/updateuser">
        
        <label>
            userid:
            <input type="text" id = "txtuserid"> 
        </label>

        <label>
            Name:
            <input type="text" id = "txtname" name="name" placeholder="Navn">
        </label>

        <label>
            Age:
            <input type="number"  id = "txtage" name="age" min="18" max="120" placeholder="Alder">
        </label>

        <label>
        E-mail:
        <input type="email"  id = "txtemail" name="email" placeholder="e-mail">
        </label>

            <label>
                Password:
            <input type="password" id = "txtpassword" name="password" placeholder="password">
            </label>    
            Gender:
        <select name="gender">
            <option>male</option>
            <option>female</option>
        </select>
        </label>
        <label>
            Interests:
        <select name="interests" multiple  min="1">
            <option>Weight Lifting</option>
            <option>Bowling</option>
            <option>Eating</option>
            <option>Hiking</option>
        </select>
        </label>
        <label>
            City:
        <input type="text" id = "txtcity" name="city" placeholder="city">
        

        <button type = "submit" name = "Submit">Update user</button>

        
    </form> 
    <script src = "controller/adminupdateprofile.js"></script>


</body>
</html>


