<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin dashboard</title>
</head>
<body>
    

    <a href="/">Go back to homepage</a>


    <a href="/views/adminuserstats">Show match and user stats</a>




</br>

<form id="form" method="post" action="/getuser">

<h1>

    Hello and welcome:
    <label>
    You are logged with this email:
    </label> <label id = "profileemail">
        Email placeholder 
        </label> 

</h1>
   
</form>

<script src = "/controller/adminuserstats.js"></script>


</body>


</html>