<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    
    <H1> Log in here</H1>

    <form id="form" method="post" action="/login">
        
        E-mail:
        <input type="email" id="email" name="email" placeholder="e-mail">
        <label>


            <label>
                Password:
            <input type="password" id="password" placeholder="password">
            </label>

          
        
        <button id="btnlogin"  type="submit">Log Ind</button>
    </form> 

    <script src = "/controller/login.js"></script>



</body>
</html>