<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>


                    
<body>


    <H1> Log in here</H1>
    <form method="post" action="/login">
        
        
        E-mail:
        <input type="email" id="email" name="email" placeholder="e-mail">
        <label>


            <label>
                Password:
            <input type="password" name="password" placeholder="password">
            </label>

          
        
        <button id="btnInsert"  type="submit">Log Ind</button>
    </form>

</body>


<script type="text/javascript">
  
//Vi indsætter en key
const inpKey = "loggedinuseremail";
const inpValue = document.getElementById("email");
const btnInsert = document.getElementById("btnInsert");

//Med kode kan vi gå ind og hijacke vores btnInsert, og sige hvad den skal sende
btnInsert.onclick = function(){

    //alert("Value is " + inpValue.value);
    localStorage.setItem(inpKey,inpValue.value);
    location.reload();



    
}



  
    
    </script>


</html>